/* Global */
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

/* Index page */
.box {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
}

/* Nav bar */
.navbar {
  width: 100%;
  background: #fff7c0;
  display: grid;
  justify-items: center;
  height: 5rem;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60%;
  margin: 0 auto;
  height: 5rem;
  align-content: center;
  justify-items: center;
}

.logo {
  font-size: 2rem;
  text-decoration: none;
  font-weight: 700;
  color: #2c3e50;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  justify-items: center;
  align-content: center;
}

.menu a {
  text-decoration: none;
  font-size: 1rem;
  color: #0a1612;
  /* font-weight: 500; */
}

.menu a:hover {
  color: #fa7c92;
  font-weight: 600;
}

.active {
  border-bottom: 3px solid #66ab8c;
}

/* main part */
.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 70rem;
  margin: 1rem auto;
}

.main img {
  width: 25rem;
  border-radius: 25rem;
  border: 3px solid #fa7c92;
}

.main_text h1 {
  font-size: 5rem;
  font-weight: 700;
  color: #63c4db;
  margin: 0;
}

.main_text h3 {
  font-weight: 700;
  color: #487963;
}

/* Footer */
.footer {
  background: #000000;
  width: 100%;
  height: 3rem;
  align-self: end;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 30rem;
  margin: 0 auto;
  color: #fff;
  height: 3rem;
  align-content: center;
}

.copyright {
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.5;
}

.social_media {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 8rem;
  justify-items: center;
}

.social_media a {
  text-decoration: none;
  color: #fff;
  opacity: 0.5;
}

.social_media a:hover {
  opacity: 1;
}

/* Projects Page */

.cards {
  width: 100%;
  background: #ecf0f1;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.card {
  width: 20rem;
  background: #fff;
  height: 25rem;
  display: grid;
  grid-template-rows: 50% 35% 15%;
}

.title {
  justify-self: center;
  align-self: center;
}
